<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}'
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }
  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;
  const title = hit._highlightResult.title.value;
  let breadcrumbs = '';
  if (hit._highlightResult.headings) {
    breadcrumbs = hit._highlightResult.headings.map(match => {
      return `<span class="post-breadcrumb">${match.value}</span>`
    }).join(' > ')
  }
  const content = hit._highlightResult.html.value;
  return `
    <div class="autoCompleteResult" id="autoCompleteResult0"">
      <ul class="autocompleteList">
        <li id="autoTitle0" class="autocompleteTitle"><a href="${url}"></a>${title}</li>
        <li id="autoUrl0" class="autocompleteUrl">${url}</li>
        <li id="autoDescription0" class="autocompleteDescription"><b>Description</b>: ${content}</li>
      </ul>
    </div>
  `;
}
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-box',
    placeholder: 'Search into posts...',
    magnifier: false,
    wrapInput: false,
    autofocus: false,
    cssClasses: {
      input: "search-field form-control ds-input"
    }
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '#autocompleteContainer',
    templates: {
      empty: 'No results',
      item: hitTemplate
    },
    cssClasses: {
      root: "autocompleteResults listResult",
      empty: "emptyResult"
    }
  })
);
search.start();
</script>

<style>
  .autocompleteResults.listResult.emptyResult {
    display: none
  }
  .autocompleteResults.listResult {
    display: block
  }
</style>
