{% for item in include.tree %}
    {% if item.tree %}
        <li>
            <a href="#">
                {{item.title}}
            </a>
            <ul>
                {% include toc.html page=include.page tree=item.tree %}
            </ul>
        </li>
    {% else %}
        {% if include.page.url == item.url %}
            <li>
                <a href="{{item.url | prepend:site.baseurl}}">{{item.title}}</a>
            </li>
        {% else %}
            <li>
                <a href="{{item.url | prepend:site.baseurl}}">{{item.title}}</a>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}