---
title: "Test Report" 
sidebar: katalon_studio_docs_sidebar
permalink: katalon-studio/docs/test-report.html 
description: 
---
Test Report provides a comprehensive view of your test results. You can also utilize our beta product, [Katalon Analytics](https://docs.katalon.com/display/KD/Katalon+Analytics+%28Beta%29+Integration), for visual analysis of the test reports. 

*   [Test Suite Report](/display/KD/Test+Suite+Report)
*   [Test Suite Collection Report](/display/KD/Test+Suite+Collection+Report)
*   [View Execution Log](/display/KD/View+Execution+Log)
*   [Video Capturing](/display/KD/Video+Capturing)