---
title: "Test Report" 
sidebar: katalon_studio_docs_sidebar
permalink: katalon-studio/docs/test-report.html 
description: 
---
Test Report provides a comprehensive view of your test results. You can also utilize our beta product, Katalon Analytics, for visual analysis of the test reports. 

*   Test Suite Report
*   Test Suite Collection Report
*   View Execution Log
*   Video Capturing